In [14]:
import pandas as pd
from datetime import datetime, timedelta
metro_file = '../Data_Cleanup/outCSV/Metro_Set_with_IdleTime.csv'
weather_file = "../Data_Cleanup/outCSV/Clean_Weather_Set.csv"
metro_set = pd.read_csv(metro_file, index_col=0)
weather_set = pd.read_csv(weather_file, index_col=0)
metro_set.info()

C:\Users\yusuf\AppData\Local\Temp\ipykernel_76432\227642119.py:5: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  metro_set = pd.read_csv(metro_file, index_col=0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1552782 entries, 690312 to 373108
Data columns (total 10 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   start_time         1552782 non-null  object
 1   end_time           1552782 non-null  object
 2   start_station_id   1552782 non-null  int64
 3   start_station_lat  1552782 non-null  float64
 4   start_station_lon  1552782 non-null  float64
 5   end_station_id     1552782 non-null  int64
 6   end_station_lat    1552782 non-null  float64
 7   end_station_lon    1552782 non-null  float64
 8   bike_id            1552782 non-null  object
 9   idle_time          1551807 non-null  object
dtypes: float64(4), int64(2), object(4)
memory usage: 130.3+ MB

In [19]:
metro_set['start_time'] = pd.to_datetime(metro_set['start_time'])
weather_set['timestamp'] = pd.to_datetime(weather_set['timestamp'])
metro_set.sort_values('start_time', inplace=True)
weather_set.sort_values('timestamp', inplace=True)

Weather_Set1 = weather_set.set_index('timestamp').reindex(metro_set.set_index('start_time').index, method='nearest')
Weather_Set1 = Weather_Set1.loc[~Weather_Set1.index.duplicated(keep='first')].reset_index()

merged_set = pd.merge(metro_set, Weather_Set1, on='start_time', how='left')
merged_set.to_csv("../Data_Cleanup/outCSV/Merged_set.csv")

In [16]:
merged_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1552782 entries, 0 to 1552781
Data columns (total 17 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   start_time               1552782 non-null  datetime64[ns]
 1   end_time                 1552782 non-null  object
 2   start_station_id         1552782 non-null  int64
 3   start_station_lat        1552782 non-null  float64
 4   start_station_lon        1552782 non-null  float64
 5   end_station_id           1552782 non-null  int64
 6   end_station_lat          1552782 non-null  float64
 7   end_station_lon          1552782 non-null  float64
 8   bike_id                  1552782 non-null  object
 9   idle_time                1551807 non-null  object
 10  temperature              1552782 non-null  float64
 11  cloud_cover              1552782 non-null  float64
 12  cloud_cover_description  1552782 non-null  object
 13  pressure                 1552782 non-null  float64
 14  windspeed                1552782 non-null  float64
 15  precipitation            1552782 non-null  float64
 16  felt_temperature         1552782 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(2), object(4)
memory usage: 213.2+ MB

In [13]:
#Faulty code
#metro_set['start_time'] = pd.to_datetime(metro_set['start_time'])
#weather_set['timestamp'] = pd.to_datetime(weather_set['timestamp'])
#metro_set.sort_values('start_time', inplace=True)
#weather_set.sort_values('timestamp', inplace=True)
#
#weather_set.reset_index(inplace=True)
#Weather_Set1 = weather_set.set_index('timestamp').reindex(metro_set.set_index('start_time').index, method='nearest').reset_index()
#
#print(Weather_Set1.info())
#
#merged_set = pd.merge(metro_set, Weather_Set1, on='start_time')
#print(merged_set.info())
#merged_set.to_csv("../Data_Cleanup/outCSV/Merged_set.csv")
#

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1552782 entries, 0 to 1552781
Data columns (total 10 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   start_time               1552782 non-null  datetime64[ns]
 1   index                    1552782 non-null  int64
 2   city                     1552782 non-null  object
 3   temperature              1552782 non-null  float64
 4   cloud_cover              1552782 non-null  float64
 5   cloud_cover_description  1552782 non-null  object
 6   pressure                 1552782 non-null  float64
 7   windspeed                1552782 non-null  float64
 8   precipitation            1552782 non-null  float64
 9   felt_temperature         1552782 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 118.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2987702 entries, 0 to 2987701
Data columns (total 19 columns):
 #   Column                   Dtype
---  ------                   -----
 0   start_time               datetime64[ns]
 1   end_time                 object
 2   start_station_id         int64
 3   start_station_lat        float64
 4   start_station_lon        float64
 5   end_station_id           int64
 6   end_station_lat          float64
 7   end_station_lon          float64
 8   bike_id                  object
 9   idle_time                object
 10  index                    int64
 11  city                     object
 12  temperature              float64
 13  cloud_cover              float64
 14  cloud_cover_description  object
 15  pressure                 float64
 16  windspeed                float64
 17  precipitation            float64
 18  felt_temperature         float64
dtypes: datetime64[ns](1), float64(10), int64(3), object(5)
memory usage: 455.9+ MB
None

In [17]:
print(metro_set['start_time'].nunique())
print(Weather_Set1['start_time'].nunique())

1057378
1057378

In [18]:
merged_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1552782 entries, 0 to 1552781
Data columns (total 17 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   start_time               1552782 non-null  datetime64[ns]
 1   end_time                 1552782 non-null  object
 2   start_station_id         1552782 non-null  int64
 3   start_station_lat        1552782 non-null  float64
 4   start_station_lon        1552782 non-null  float64
 5   end_station_id           1552782 non-null  int64
 6   end_station_lat          1552782 non-null  float64
 7   end_station_lon          1552782 non-null  float64
 8   bike_id                  1552782 non-null  object
 9   idle_time                1551807 non-null  object
 10  temperature              1552782 non-null  float64
 11  cloud_cover              1552782 non-null  float64
 12  cloud_cover_description  1552782 non-null  object
 13  pressure                 1552782 non-null  float64
 14  windspeed                1552782 non-null  float64
 15  precipitation            1552782 non-null  float64
 16  felt_temperature         1552782 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(2), object(4)
memory usage: 213.2+ MB