In [1]:
import pandas as pd
from datetime import datetime, timedelta
csv_file = '../Data_Cleanup/outCSV/Metro_Set_DayTimes.csv'
metro = pd.read_csv(csv_file)

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

/var/folders/_v/6rn4knv13fs88z1_74ms8bk40000gn/T/ipykernel_44789/528872180.py:4: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  metro = pd.read_csv(csv_file)

In [2]:
metro["idle_time"] = pd.to_timedelta(metro["idle_time"])

In [3]:
mean_idle_time = metro.groupby("end_station_id")["idle_time"].mean()

In [25]:
count_morning = metro.groupby("end_station_id")["morgens"].sum()
count_vormittag = metro.groupby("end_station_id")["vormittags"].sum()
count_midday = metro.groupby("end_station_id")["mittags"].sum()
count_afternoon = metro.groupby("end_station_id")["nachmittags"].sum()
count_evening = metro.groupby("end_station_id")["abends"].sum()
count_night = metro.groupby("end_station_id")["nachts"].sum()

In [26]:
station_lat = metro.groupby("end_station_id")["end_station_lat"].unique()
station_lon = metro.groupby("end_station_id")["end_station_lon"].unique()

In [30]:
result = pd.concat([mean_idle_time, count_morning, count_vormittag, count_midday, count_afternoon, count_evening, count_night, station_lat, station_lon], axis=1)
result.head()

,idle_time,morgens,vormittags,mittags,nachmittags,abends,nachts,end_station_lat,end_station_lon
end_station_id,,,,,,,,,
3000,0 days 09:56:03.016100094,7536,8252,8516,8279,4634,6799,[34.0485],[-118.258537]
3005,0 days 03:56:49.251504815,16512,15636,16516,18580,9257,11909,[34.0485],[-118.258537]
3006,0 days 03:09:40.719910065,4338,6389,7605,9245,5245,3418,[34.04554],[-118.256668]
3007,0 days 04:35:17.264172176,6075,5544,4385,3710,1515,4125,[34.05048],[-118.254593]
3008,0 days 03:53:11.998255735,4694,4599,5094,5456,3011,3420,[34.046612],[-118.262733]

In [29]:
result.to_csv("../Data_Cleanup/outCSV/Station_ID_with_avgidle_and_days_and_lonlat.csv")