In [1]:
import pandas as pd
import numpy as np

### Prepare the location-dataset
First, we need to prepare the dataset, as most of the data (or columns) we won't need. To decide whether an entry (or location) is part of our interest, we shall only consider the geographic data and "amenity" of the location. Later on, we will also filter the locations out which have attributes that do not really have a logical cohesion with our bike-rental data.

In [2]:
LA = pd.read_csv("csv/POIs.csv", dtype = str)
POI = LA[["name", "lon", "lat", "amenity"]]
POI1 = POI.dropna(0)

/var/folders/_v/6rn4knv13fs88z1_74ms8bk40000gn/T/ipykernel_66292/1753914413.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  POI1 = POI.dropna(0)

In [3]:
POI1

                         name          lon        lat    amenity
6      Golden Era Productions   -116.98781  33.833775     studio
12            Jack in the Box   -118.15158  34.077217  fast_food
13                  Yoshinoya   -118.21602  34.076218  fast_food
14            Jack in the Box   -118.21601  34.076694  fast_food
17                  The Vault   -117.18167  34.054432        pub
...                       ...          ...        ...        ...
88141              McDonald's   -117.97096  33.913445  fast_food
88142              Sam's Club    -117.9714  33.913116       fuel
88152          Baskin-Robbins  -117.865776    33.8873  ice_cream
88153         Bank of America   -117.86375   33.88731       bank
88155              Jay Bird's   -120.67254  35.247932  fast_food

[34705 rows x 4 columns]

This already seems better, but we still have many entries that we most certainly will not need. Let's have a look at the "amenity" column and visualize how many and which attributes of locations there are.

In [5]:
#Here I extract the "amenity" column, convert it into a numPy array and then delete the redundant data with np.unique
amenity = np.unique(POI1["amenity"].to_numpy())
amenity

array(['Addiction Treatment', 'Casting_Center', 'Comfort Shoe Store',
       'Commercial Printer', 'Skincare', 'Solar Panel Installation',
       'Website Designer', 'Window Treatments', 'animal_boarding',
       'animal_shelter', 'animal_training', 'apartment', 'arcade',
       'archive', 'art_school', 'art_work', 'arts_centre', 'atm',
       'audiologist', 'auditorium', 'auto_towing', 'baby_hatch', 'bank',
       'bar', 'bbq', 'bear_box', 'bench', 'bicycle_parking',
       'bicycle_rental', 'bicycle_repair_station', 'biergarten',
       'binoculars', 'boat_rental', 'book_return', 'bowling alley',
       'bureau_de_change', 'bus_station', 'cafe', 'car_rental',
       'car_sharing', 'car_wash', 'car_wash;car_detail;oil_change',
       'casino', 'charging_station', 'charity_donation', 'check_cashing',
       'check_in', 'childcare', 'church', 'cinema', 'clinic', 'clock',
       'club', 'coffee', 'coin dealer', 'college', 'community_centre',
       'concert_hall', 'conference_centre', 'construction',
       'convenience_store', 'cooking_school', 'courthouse',
       'courthouse;library', 'coworking_space', 'coworking_space;daycare',
       'dancing_school', 'dentist', 'dispensary', 'disused',
       'dive_centre', 'doctors', 'dojo', 'donation', 'drinking_water',
       'driver_training', 'driving_school', 'electronic_repair',
       'events_venue', 'exhibition_centre', 'family_planning',
       'fast_food', 'ferry_terminal', 'fire_station', 'fixme',
       'flight_school', 'food_court', 'fountain', 'fuel', 'fuel;atm',
       'fuel;car_wash', 'ghost_kitchen', 'gold_exchange', 'grave_yard',
       'guest_relations', 'healthcare', 'hitching_post', 'ho',
       'hookah_bar', 'hookah_lounge', 'hooklah_lounge', 'hospital',
       'ice_cream', 'industrial', 'internet_cafe', 'juice bar',
       'juice_bar', 'karaoke_box', 'kindergarten', 'language_school',
       'library', 'loading_dock', 'local yarn shop', 'lockers', 'lounger',
       'marketplace', 'monastery', 'money_transfer', 'mortuary',
       'motorcycle_rental', 'music_school', 'music_venue', 'nightclub',
       'nursing_home', 'package_services', 'paddleshop', 'parcel_locker',
       'parking', 'parking_entrance', 'parking_space', 'payment_centre',
       'payment_terminal', 'pharmacy', 'photo_booth', 'place_of_worship',
       'planetarium', 'police', 'polling_station', 'post_box',
       'post_depot', 'post_office', 'pre_school;day_care', 'prep_school',
       'prison', 'psychic', 'pub', 'public_bath', 'public_bookcase',
       'public_building', 'radio_station', 'ranger_station',
       'reception_desk', 'recycling', 'research_institute', 'restaurant',
       'salon', 'sanitary_dump_station', 'school',
       'school;place_of_worship', 'security_booth', 'shelter', 'shower',
       'sign', 'ski_school', 'smoke_shop', 'smoking_area', 'snack',
       'snack_cart', 'snack_stand', 'social_centre', 'social_facility',
       'spa', 'stripclub', 'stripclub;bar', 'studio', 'taxi', 'telephone',
       'theatre', 'toilets', 'townhall', 'trade_school', 'trailer_park',
       'training', 'university', 'vehicle_inspection', 'vending_machine',
       'veterinary', 'veterinary_pharmacy', 'waste_basket',
       'waste_disposal', 'waste_transfer_station', 'water_dispenser',
       'watering_place', 'weighbridge'], dtype=object)

In [7]:
POI[(POI["amenity"] == "water_dispenser")]

                    name         lon       lat          amenity
24910  Watermill Express  -117.17484  32.81994  water_dispenser